.catalog-information {
  width: 320px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding: 92px 55px 75px;
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 88px;
    width: 1200px;
  }
}

.catalog-information .information__title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.catalog-information br {
  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}
