.contacts {
  margin: 50px 0 0;
}

//.contacts__wrapper{}
.contacts__information {
  margin: 0;
}

.contacts__information .information__title:last-child {
  margin-top: 0;
}

.contacts__items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  //align-items: center;
  padding: 0 20px;
  margin: 0;
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.contacts__item {
  list-style: none;
}

.contacts__item--phone {
  @media (min-width: $desktop-width) {
    order: 1;
  }
}

.contacts__item--email {
  @media (min-width: $desktop-width) {
    order: 3;
  }
}

.contacts__item--location {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.contacts__list {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: $main-theme;
  text-align: center;
  margin: 0;
  // margin-top: 35px;
  // margin-bottom: 0;
}

.contacts__link {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: $item-accent;
  text-decoration: none;
  text-align: center;
  display: block;
}

.contacts__map {
  position: relative;
}

.contacts__map iframe {
  border: none;
  display: block;
}

.contacts__map::before {
  background-color: rgb(255, 255, 255);
  content: "";
  width: 100%;
  height: 33px;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(100% 0, 50% 100%, 0 0);

  @media (min-width: $tablet-width) {
    height: 68px;
  }

  @media (min-width: $desktop-width) {
    height: 103px;
  }
}
