.form-feedback {
  color: $main-theme;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form-feedback__name {
  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
  }
}
// .form-feedback__name-wrapper {}

.form-feedback__fieldset {
  margin: 0;
  padding: 0;
}

.form-feedback__fieldset--name {
  border: none;
}

.form-feedback__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.form-feedback__list--row {
  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

// .form-feedback__name-item {}

.form-feedback__label {
  font-size: 14px;
  //line-height: 30px;
  //color: $item-accent;
  cursor: pointer;
  line-height: 50px;
  padding: 0 0 0 20px;
}

.form-feedback__input {
  font-size: 18px;
  line-height: 30px;
  color: $main-theme;
}

input[type="text"] {
  border: 2px solid rgb(229, 229, 229);
  outline: none;
  width: 100%;
}

input[type="text"]:hover {
  border-color: $main-theme;
}

input[type="text"]:focus {
  border-color: $item-accent;
}

.form-feedback__achivments {
  background-color: $background;

  @media (min-width: $tablet-width) {
    background: none;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 100%;
  }
}

// .form-feedback__achivments-wrapper {}
// .form-feedback__fiedset--achivments {}
// .form-feedback__legend {}

.form-feedback__legend-text {
  font-size: 14px;
  line-height: 18px;
  color: $item-accent;
}

// .form-feedback__achivments-item {}
// .form-feedback__checkbox {}

.form-feedback__label-checkbox {
  font-size: 18px;
  //line-height: 30px;
  color: $main-theme;
  position: relative;
  cursor: pointer;
  line-height: 50px;
  padding: 0 0 0 60px;
}

input[type="checkbox"] + .form-feedback__label-checkbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 1px;
}

input[type="checkbox"]:hover + .form-feedback__label-checkbox::before {
  border-color: $main-theme;
}

input[type="checkbox"]:active + .form-feedback__label-checkbox::before {
  border-color: $item-accent;
}

input[type="checkbox"]:checked + .form-feedback__label-checkbox::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 7px;
  width: 22px;
  height: 10px;
  border-left: 2px solid $item-accent;
  border-bottom: 2px solid $item-accent;
  transform: rotate(-45deg);
}

.form-feedback__contacts {
  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 100%;
  }
}
// .form-feedback__contacts-wrapper {}
// .form-feedback__fieldset--contacts {}
// .form-feedback__legend--contacts {}
// .form-feedback__name-item--contacts {}
// .form-feedback__name-item--phone {}
// .form-feedback__label--contacts {}
// .form-feedback__input--contacts {}
// .form-feedback__name-item--email {}

.form-feedback__platform {
  background-color: $background;

  @media (min-width: $tablet-width) {
    background: none;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
  }
}
// .form-feedback__platform-wrapper {}
// .form-feedback__fieldset--platform {}
// .form-feedback__platform-item {}

//.form-feedback__radio {}

input[type="radio"] + .form-feedback__label-radio::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 37px;
  height: 37px;
  box-sizing: border-box;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 50%;
}

input[type="radio"]:hover + .form-feedback__label-radio::before {
  border-color: $main-theme;
}

input[type="radio"]:active + .form-feedback__label-radio::before {
  border-color: $item-accent;
}

input[type="radio"]:checked + .form-feedback__label-radio::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 11px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $item-accent;
}

.form-feedback__label-radio {
  position: relative;
  cursor: pointer;
  line-height: 50px;
  padding: 0 0 0 60px;
}

.form-feedback__emotions {
  @media (min-width: $tablet-width) {
    order: 5;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 100%;
  }
}
// .form-feedback__emotions-wrapper {}
// .form-feedback__fieldset--emotions {}
// .form-feedback__textarea {}

.form-feedback__submit {
  @media (min-width: $tablet-width) {
    order: 6;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 100%;
  }
}
// .form-feedback__submit-wrapper {}

.form-feedback__button {
  background-color: rgb(42, 171, 109);
  color: rgb(255, 255, 255);
}

.form-feedback__notification {
  font-size: 14px;
  line-height: 30px;
  color: $main-theme;
}
