.form-information {
  width: 320px;
  margin: 0 auto;
  padding: 44px 20px 18px;

  @media (min-width: $tablet-width) {
    width: 660px;
    padding: 90px 50px 73px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding: 90px 200px 33px;
  }
}

.form-information br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.form-information span:last-child {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.form-information .information__title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
