.form-feedback {
  color: $main-theme;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form-feedback__name {/*-----------------------------------*/
  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
  }
}

.form-feedback__name-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    padding-right: 35px;
    padding-top: 55px;
  }
}

.form-feedback__fieldset {
  margin: 0;
  padding: 0;
}

.form-feedback__fieldset--name {
  border: none;
}

.form-feedback__fieldset--achivments {
  border: none;

  @media (min-width: $tablet-width) {
    border: 2px solid rgb(229, 229, 229);
    padding-bottom: 27px;
    margin-top: 15px;

    .form-feedback__legend {
      padding: 26px 24px 21px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 30px;
  }
}

.form-feedback__fieldset--contacts {
  border: none;

  @media (min-width: $tablet-width) {
    border: 2px solid rgb(229, 229, 229);
    padding-bottom: 22px;
    margin-top: 5px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 8px;
  }
}

.form-feedback__fieldset--platform {
  border: none;

  @media (min-width: $tablet-width) {
    border: 2px solid rgb(229, 229, 229);
    padding-bottom: 34px;
    margin-top: 9px;

    .form-feedback__legend {
      padding: 31px 24px 27px;
    }
  }
}

.form-feedback__fieldset--emotions {
  border: none;
}

.form-feedback__list {/*-----------------------------------*/
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.form-feedback__list--row {
  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.form-feedback__name-item {
  @media (min-width: $tablet-width) {
    display: flex;
    padding-bottom: 52px;

    &:last-of-type {
      padding-bottom: 0;
    }
  }
}

.form-feedback__label {
  display: block;
  font-size: 14px;
  color: $item-accent;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 30px;
  padding: 17px 0 5px 24px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-right: 20px;
  }
}

.form-feedback__input {
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: $main-theme;
  min-height: 63px;
  font-family: "Open Sans", "Arial", sans-serif;
  border: 2px solid rgb(229, 229, 229);
  outline: none;
  width: 100%;
  padding-left: 20px;

  &:hover {
    border-color: $main-theme;
  }

  &:focus {
    border-color: $item-accent;
  }
}

.form-feedback__achivments {/*-------------------------------------------------------------------------*/
  background-color: $background;

  @media (min-width: $tablet-width) {
    background: none;
    order: 4;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 100%;
  }
}

.form-feedback__achivments .form-feedback__list--row {
  justify-content: flex-end;
}

.form-feedback__achivments-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.form-feedback__legend {
  font-size: 14px;
  line-height: 18px;
  padding: 40px 24px 18px;
  text-align: center;
  text-transform: uppercase;
}

.form-feedback__legend-text {
  color: $item-accent;
}

.form-feedback__achivments-item {
  height: 82px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 310px;
    padding-left: 40px;

    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(6) {
      order: 2;
    }

    &:nth-child(3),
    &:nth-child(5) {
      order: 1;
    }

    &:nth-child(3),
    &:nth-child(4) {
      padding-left: 55px;
    }

    &:nth-child(1),
    &:nth-child(2) {
      padding-left: 50px;
    }
  }
}

// .form-feedback__checkbox {}

.form-feedback__label-checkbox {
  font-size: 18px;
  line-height: 80px;
  color: $main-theme;
  position: relative;
  cursor: pointer;
  padding: 0 0 0 60px;
}

input[type="checkbox"] + .form-feedback__label-checkbox::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 37px;
  height: 37px;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 1px;
}

input[type="checkbox"]:hover + .form-feedback__label-checkbox::before {
  border-color: $main-theme;
}

input[type="checkbox"]:active + .form-feedback__label-checkbox::before {
  border-color: $item-accent;
}

input[type="checkbox"]:checked + .form-feedback__label-checkbox::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 7px;
  width: 22px;
  height: 10px;
  border-left: 2px solid $item-accent;
  border-bottom: 2px solid $item-accent;
  transform: rotate(-45deg);
}

.form-feedback__contacts {/*-----------------------------------*/
  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 100%;
  }
}

.form-feedback__contacts-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 18px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width) {
    padding-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.form-feedback__legend--contacts {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 13px;
  }
}

.form-feedback__name-item--contacts {
  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding-bottom: 0;
  }
}

.form-feedback__name-item--phone {
  @media (min-width: $tablet-width) {
    flex-direction: column;
    position: relative;

    .form-feedback__label--contacts::before {
      position: absolute;
      content: "";
      width: 59px;
      height: 59px;
      top: 27px;
      right: 60px;
      background-image: url("./../img/blocks/form-feedback/iconPhone.svg");
      background-repeat: no-repeat;

      @media (min-width: $desktop-width) {
        right: 2px;
      }
    }
  }
}

.form-feedback__label--contacts {
  padding-top: 14px;
  padding-bottom: 5px;

  @media (min-width: $tablet-width) {
    order: 2;
    padding-top: 9px;
    padding-bottom: 5px;
    padding-left: 77px;
  }
}

.form-feedback__input--contacts {
  height: 63px;
  border: 2px solid rgb(229, 229, 229);
  outline: none;
  width: 100%;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-top: 25px;
    margin-left: 58px;
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 375px;
  }

  &:hover {
    border-color: $main-theme;
  }

  &:focus {
    border-color: $item-accent;
  }
}

.form-feedback__name-item--email {
  padding-top: 3px;

  @media (min-width: $tablet-width) {
    position: relative;
    padding-bottom: 10px;
    padding-top: 0;

    .form-feedback__label--contacts::before {
      position: absolute;
      content: "";
      width: 59px;
      height: 59px;
      top: 27px;
      right: 60px;
      background-image: url("./../img/blocks/form-feedback/iconMail.svg");
      background-repeat: no-repeat;

      @media (min-width: $desktop-width) {
        right: 2px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 12px;
  }
}

// input[type="tel"] {
//   border: 2px solid rgb(229, 229, 229);
//   outline: none;
//   width: 100%;
//   padding-left: 20px;

//   @media (min-width: $tablet-width) {
//     width: 500px;
//   }

//   @media (min-width: $desktop-width) {
//     width: 375px;
//   }
// }

// input[type="tel"]:hover {
//   border-color: $main-theme;
// }

// input[type="tel"]:focus {
//   border-color: $item-accent;
// }

// input[type="email"] {
//   border: 2px solid rgb(229, 229, 229);
//   outline: none;
//   width: 100%;
//   padding-left: 20px;

//   @media (min-width: $tablet-width) {
//     width: 500px;
//   }

//   @media (min-width: $desktop-width) {
//     width: 375px;
//   }
// }

// input[type="email"]:hover {
//   border-color: $main-theme;
// }

// input[type="email"]:focus {
//   border-color: $item-accent;
// }

.form-feedback__platform {/*-----------------------------------*/
  background-color: $background;

  @media (min-width: $tablet-width) {
    background: none;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
  }
}

.form-feedback__platform-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    padding-left: 35px;
    padding-right: 130px;
  }
}

.form-feedback__platform-item {
  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 75px;
  }
}

//.form-feedback__radio {}

input[type="radio"] + .form-feedback__label-radio::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 41px;
  height: 41px;
  border: 2px solid rgb(229, 229, 229);
  border-radius: 50%;
}

input[type="radio"]:hover + .form-feedback__label-radio::before {
  border-color: $main-theme;
}

input[type="radio"]:active + .form-feedback__label-radio::before {
  border-color: $item-accent;
}

input[type="radio"]:checked + .form-feedback__label-radio::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 13px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: $item-accent;
}

.form-feedback__label-radio {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  line-height: 75px;
  padding: 0 0 0 70px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.form-feedback__emotions {/*-----------------------------------*/
  @media (min-width: $tablet-width) {
    order: 5;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 100%;
  }
}

.form-feedback__emotions-wrapper {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 56px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 58px;
  }
}


.form-feedback__textarea {
  border: 2px solid rgb(229, 229, 229);
  outline: none;
  min-height: 200px;
  width: 100%;
  padding-left: 20px;
  padding-top: 10px;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin: 17px 60px;
    width: 500px;
    min-height: 193px;
  }

  @media (min-width: $desktop-width) {
    width: 820px;
    min-height: 128px;
    margin-top: 13px;
    padding-top: 15px;
  }
}

.form-feedback__textarea:hover {
  border-color: $main-theme;
}

.form-feedback__textarea:focus {
  border-color: $item-accent;
}

.form-feedback__submit {/*-----------------------------------*/
  @media (min-width: $tablet-width) {
    order: 6;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 100%;
  }
}

.form-feedback__submit-wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 38px;
  padding-bottom: 17px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 30px;
    padding-bottom: 0;
  }
}

.form-feedback__button {
  background-color: rgb(42, 171, 109);
  color: rgb(255, 255, 255);
  height: 63px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    background-color: rgb(28, 155, 94);
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.form-feedback__notification {
  margin: 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: $main-theme;
  text-align: center;
  padding-top: 35px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.form-feedback__notification-asterix {
  color: $item-accent;
}

.form-feedback__notification-hidden {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}
