// .form-photo {}

.form-photo__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.form-photo__image {
  width: 280px;
  height: 374px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 400px;
  }
}

// .form-photo__filtrs{}
// .form-photo__filtr{}
// .form-photo__filter-crop{}
// .form-photo__filter-fill{}
// .form-photo__filter-contrast{}

.form-photo__buttons {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.form-photo__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.form-photo__button--submit {
  color: rgb(255, 255, 255);
  background-color: $item-accent;
}

.form-photo__button--reset {
  color: rgb(255, 255, 255);
  background-color: rgba(40, 54, 69, 0.1);
}

input[type="range"] {
  width: 200px;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 2px;
  background-color: $main-theme;
}

input[type="range"]::-webkit-slider-thumb {
  background: rgb(255, 255, 255);
  border: 2px solid $item-accent;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  //-webkit-appearance: none;
  margin-top: -7px;
}

input[type="range"]::-webkit-slider-thumb:active {
  background: $item-accent;
}

input[type="range"]::-moz-range-track {
  height: 2px;
  background-color: $main-theme;
}

input[type="range"]::-moz-range-thumb {
  border: 2px solid $item-accent;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb:active {
  background: $item-accent;
}
