.gallery {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  gap: 20px;

  @media (min-width: $tablet-width) {
    gap: 50px;
  }

  @media (min-width: $desktop-width) {
    gap: 48px;
  }
}

.gallery__panorama {
  grid-row: 1 / 2;
}

.gallery__photo {
  grid-row: 2 / 3;
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 300px 300px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
    grid-template-columns: 300px 300px 300px;
    row-gap: 54px;
  }
}
