.gallery-information {
  padding-top: 42px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 58px;
    padding-bottom: 65px;
  }
}

.gallery-information .information__title {
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  // color: $main-theme;
  // margin: 0;
  // padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    // line-height: 54px;
  }

  // @media (min-width: $desktop-width) {
  //   font-size: 50px;
  //   line-height: 68px;
  // }
}
