.header-navigation {
  background-color: rgba(0, 0, 0, 1);
  height: 66px;
}

// .hearer-navigation__wrapper{}
// .header-navigation__logo{}
// .header-navigation__toggle{}

.header-navigation__items {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: rgb(40, 54, 69);
}

// .heder-navigation__item{}

.header-navigation__link {
  color: rgb(255, 255, 255);
}
