.header-intro {
  background-image: url("./../img/blocks/header-intro/screenPhoneMobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 110px;
  background-size: 320px 286px;
  justify-content: flex-end;

  @media (min-resolution: 2dppx) {
    background-image: url("./../img/blocks/header-intro/screenPhoneMobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    background-image: url("./../img/blocks/header-intro/screenPhoneTablet@1x.png");
    background-repeat: no-repeat;
    background-position-y: 74px;
    background-size: 660px 545px;

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/blocks/header-intro/screenPhoneTablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("./../img/blocks/header-intro/screenPhoneDesktop@1x.png");
    background-repeat: no-repeat;
    background-position: 145px 98px;
    background-size: 1050px 645px;

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/blocks/header-intro/screenPhoneDesktop@2x.png");
    }
  }
}

.header-intro__wrapper {
  height: 667px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px;
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 619px;
    padding-top: 94px;
    //padding-bottom: 110px;
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    height: 743px;
    padding-top: 100px;
    padding-bottom: 130px;
    margin-left: 130px;
  }
}

.header-intro--inner {
  background: none;
}

.header-intro--inner .header-intro__wrapper {
  height: 171px;
  padding-top: 30px;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    width: 620px;
    padding-top: 66px;
    height: 330px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    height: 284px;
    padding-top: 60px;
  }
}
