.header-navigation--opened {
  padding-top: 66px;

  @media (min-width: $tablet-width) {
    padding-top: 110px;
  }
}

.header-navigation__wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
    align-items: center;
  }
}

.header-navigation--opened .header-navigation__wrapper {
  background-color: rgb(40, 54, 69);
  position: absolute;
  top: 0;
  z-index: 10;
  width: $mobile-width;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    background: none;
    width: $desktop-width;
  }
}

.header-navigation__logo {
  height: 66px;
  padding: 22px 20px 21px;
  align-self: flex-start;
  color: rgb(255, 255, 255);

  &:hover {
    color: $item-accent;
  }

  &:active {
    color: rgb(255, 255, 255);
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    height: 110px;
    padding-top: 27px;
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    padding: 27px 0 0;
  }
}

.header-navigation--opened .header-navigation__logo {
  height: 69px;

  @media (min-width: $tablet-width) {
    height: 109px;
  }
}

.header-navigation--closed .header-navigation__toggle {
  position: absolute;
  top: 21px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 24px;
  cursor: pointer;
  border: none;
  //background-color: transparent;
  background: url("../../img/blocks/header-navigation/btnMenuOpen.svg");

  &:hover {
    background: url("../../img/blocks/header-navigation/btnMenuOpenHover.svg");
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    top: 43px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header-navigation--opened .header-navigation__toggle {
  position: absolute;
  top: 23px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 23px;
  height: 23px;
  cursor: pointer;
  border: none;
  //background-color: transparent;
  background: url("../../img/blocks/header-navigation/btnMenuClose.svg");

  &:hover {
    background: url("../../img/blocks/header-navigation/btnMenuCloseHover.svg");
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    top: 43px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header-navigation__items {
  background-color: rgb(40, 54, 69);
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    background: none;
    width: 793px;
    align-items: center;
  }
}

.header-navigation__item {
  display: block;
  width: 100%;
  min-height: 64px;
  background-color: $main-theme;
  border-top: 1px solid #000000;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  :hover {
    color: $item-accent;
  }

  :active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $desktop-width) {
    background: none;
    box-shadow: none;
    border: none;
    height: 110px;
    width: auto;
    position: relative;

    &:not(:last-child) {
      margin-right: 80px;
    }
  }
}

.header-navigation__link {
  color: rgb(255, 255, 255);
  font-size: 18px;
  //line-height: 64px;
  line-height: 18px;
  padding-top: 22px;
  padding-bottom: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-weight: 400;
    text-transform: none;
    padding-top: 46px;
    padding-bottom: 46px;

    &--current::after {
      content: "";
      position: absolute;
      right: 0;
      left: 0;
      bottom: 34px;
      height: 2px;
      background-color: rgb(255, 255, 255);
    }
  }
}

@media (max-width: $desktop-width-only) {
  .header-navigation--closed .header-navigation__item {
    display: none;
  }
}

.header-navigation--nojs {
  padding-top: 66px;
}

.header-navigation--nojs .header-navigation__wrapper {
  background-color: rgb(40, 54, 69);
  position: absolute;
  top: 0;
  width: $mobile-width;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
    width: $desktop-width;
  }
}

.header-navigation--nojs .header-navigation__logo {
  height: 69px;
}

.header-navigation--nojs .header-navigation__toggle {
  display: none;
}

.header-navigation--nojs .header-navigation__items {
  position: static;
  min-height: 0;
}

.header-navigation--nojs .header-navigation__item {
  display: block;
}
