.intro-content {
  background-color: $main-theme;
  color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  flex-direction: column;
}

.intro-content__button {
  border: 3px solid #ffffff;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.intro-content__webstores {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

// .intro-content__item{}
// .intro-content__link{}

.intro-content__description {
  text-align: center;
  margin: 0;
}
