.intro-slogan {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  color: rgb(252, 252, 252);
  text-align: center;
  width: 280px;// nov
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 48px;
    padding: 0 45px;
    padding-bottom: 31px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
    padding: 0;
    padding-bottom: 35px;
  }
}

.intro-slogan--inner {
  line-height: 32px;

  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
    padding: 0;
  }
}
