.intro-content {
  background-color: rgb(29, 38, 49);
  color: rgb(255, 255, 255);
  height: 271px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (min-width: $tablet-width) {
    height: auto;
    background-color: transparent;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.intro-content__button {
  border: 3px solid rgb(255, 255, 255);
  text-decoration: none;
  color: rgb(255, 255, 255);

  &:hover {
    color: $item-accent;
    background: rgb(255, 255, 255);
  }

  &:active {
    color: rgb(210, 40, 86, 0.3);
    background-color: rgb(255, 255, 255);
  }
}

.intro-content__webstores {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-bottom: 47px;
  }
}

.intro-content__item {
  height: 56px;
  list-style: none;
}

.intro-content__link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 56px;
  height: 56px;
}

.intro-content__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
