.intro-content {
  background-color: rgb(29, 38, 49);
  color: rgb(255, 255, 255);
  height: 271px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    height: auto;
    background-color: transparent;
    justify-content: space-between;
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.intro-content__button {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  height: 55px;
  border: 3px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  border-radius: 29px;

  @media (min-width: $desktop-width) {
    font-size: 21px;
  }

  &:hover {
    color: $item-accent;
    background: rgb(255, 255, 255);
  }

  &:active {
    color: rgb(210, 40, 86, 0.3);
    background-color: rgb(255, 255, 255);
  }
}

.intro-content__webstores {
  margin: 0;
  padding: 0;
  margin-top: 7px;
  display: flex;
  justify-content: space-evenly;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 31px;
    padding-left: 44px;
    padding-right: 50px;
    margin-top: 0;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-bottom: 53px;
  }
}

.intro-content__item {
  height: 56px;
  list-style: none;
}

.intro-content__link {
  display: flex;
  align-items: flex-end;
  height: 56px;
}

.intro-content__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
