// .logo {}

.logo-icon {
  color: currentColor;
}

.logo-icon-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo-icon-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo-icon-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.logo-icon-footer {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.logo-icon-footer-desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}
