.main-information {
  height: 216px;
  width: $mobile-width;
  margin: 0 auto;
  padding-top: 41px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    height: auto;
    width: $tablet-width;
    padding-top: 48px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding-top: 60px;
    padding-bottom: 56px;
  }
}

.main-information .information__title:last-child {
  margin-top: 31px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-left: 150px;
    margin-right: 150px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 370px;
    margin-right: 370px;
  }
}
