.main-header {
  background: url("../../img/back-mobile.png") no-repeat top;

  @media (min-width: $tablet-width) {
    background: url("../../img/back-tablet.png") no-repeat top;
  }

  @media (min-width: $desktop-width) {
    background: url("../../img/back-desktop.png") no-repeat top;
  }
}

//.main-header__wrapper{}
