.main-information {
  height: 216px;
  padding-top: 41px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    height: auto;
    padding-top: 48px;
    padding-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    padding-bottom: 56px;
  }
}
