.page {
  height: 100%;
  min-width: $mobile-width;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.page__body {
  min-height: 100%;
  margin: 0 auto;
  width: $mobile-width;
  background-repeat: no-repeat;
  background-position-x: center;
  z-index: -10;
  opacity: 0.5;
  background-image: url("../../img/perfect/MobileIndex.png");
  //background-image: url("../../img/perfect/MobileMenu.png");
  //background-image: url("../../img/perfect/MobileCatalog.png");
  //background-image: url("../../img/perfect/MobileForm.png");

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    background-image: url("../../img/perfect/TabletIndex.png");
    //background-image: url("../../img/perfect/TabletCatalog.png");
    //background-image: url("../../img/perfect/TabletForm.png");
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    background-image: url("../../img/perfect/DesktopIndex.png");
    //background-image: url("../../img/perfect/DesktopCatalog.png");
    //background-image: url("../../img/perfect/DesktopForm.png");
  }
}
