.photo {
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

.photo--panorama {
  width: 320px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 660px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.photo--gallery {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.photo__link {
  grid-row: 1 / 2;
  display: block;
  line-height: 0;
}

.photo--panorama .photo__link::before {
  position: absolute;
  content: "";
  top: 0;
  right: 20px;
  width: 140px;
  height: 35px;
  background-color: $item-accent;

  @media (min-width: $tablet-width) {
    top: 59px;
  }

  @media (min-width: $desktop-width) {
    right: 130px;
    top: 55px;
  }
}

.photo--panorama .photo__link::after {
  position: absolute;
  content: attr(data-label);
  font-size: 12px;
  line-height: 35px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  right: 40px;

  @media (min-width: $tablet-width) {
    top: 59px;
  }

  @media (min-width: $desktop-width) {
    right: 150px;
    top: 55px;
  }
}


.photo__info {
  background-color: $background;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  padding: 18px 0 18px 17px;

  @media (min-width: $tablet-width) {
    padding: 25px 30px 10px 30px;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 2fr 2fr;
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
  }
}

.photo__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $main-theme;
  grid-row: 2 / 3;
  margin: 0;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    grid-column: 1 / 3;
  }
}

.photo__author {
  grid-row: 1 / 2;
  display: flex;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
  }
}

.photo__author-name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: $main-theme;
  margin: 0;

  @media (min-width: $tablet-width) {
    //padding-top: 17px;
    //padding-left: 30px;
    //grid-column: 1/3;
  }
}

.photo__author-date {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: $main-theme;
  align-self: flex-end;
  text-transform: uppercase;
  padding-left: 3px;
}

.photo__statistic {
  grid-row: 3/4;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 3;
    align-items: center;
  }
}

.photo__statistic-button {
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.photo__statistic-text {
  font-size: 12px;
  line-height: 24px;
  color: $item-accent;
  text-transform: uppercase;
  padding-left: 15px;

  @media (min-width: $tablet-width) {
    order: 1;
    padding: 0;
  }
}
//--------------------------------------------------------------------------------------------------------------//
.photo__info--panorama {
  margin: 0 20px;

  .photo__text {
    padding-bottom: 12px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 25px;
    grid-template-rows: 1fr 2fr;

    .photo__author {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .photo__statistic {
      grid-column: 2/3;
      grid-row: 1/2;
      display: flex;
      justify-content: flex-end;
      margin: 0;
    }

    .photo__statistic-button {
      order: 2;
      padding-left: 15px;
    }

    .photo__text {
      grid-column: 1/3;
      grid-row: 2/3;
      padding: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 130px;
    grid-template-rows: 1fr 1fr;

    .photo__statistic-button {
      padding-left: 17px;
    }
  }
}
