.photo-editor {
  background-color: $background;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-right: 60px;
    margin-left: 130px;
    margin-right: 130px;
  }
}
