.price {
  background-color: $background;
  position: relative;
  overflow: hidden;
}

.price::before {
  content: "";
  position: absolute;
  background: linear-gradient(to top left, transparent 50%, #ffffff 50%);
  height: 18px;
  width: 100%;
  top: 0;

  @media (min-width: $tablet-width) {
    height: 41px;
  }

  @media (min-width: $desktop-width) {
    height: 100px;
  }
}

.price__wrapper {
  width: $mobile-width;
  margin: 101px auto 32px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    margin: 97px auto 70px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 155px auto 98px;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.price__table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    position: static;
    left: auto;
    transform: none;
  }
}

.price__toggles.slider-dot__toggles {
  padding-top: 46px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: none;
    padding: 0;
  }
}
