.price {
  background-color: $background;
  position: relative;
  padding-top: 100px;
  padding-bottom: 32px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 97px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 155px;
    padding-bottom: 98px;
    padding-left: 130px;
    padding-right: 130px;
  }
}

.price::before {
  content: "";
  position: absolute;
  background-color: rgb(255, 255, 255);
  clip-path: polygon(0 100%, 0 0, 100% 0);
  height: 18px;
  width: 100%;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    height: 41px;
  }

  @media (min-width: $desktop-width) {
    height: 100px;
  }
}
// .price__wrapper{}

.price__table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    position: static;
    left: auto;
    transform: none;
  }
}

.price__toggles.slider-dot__toggles {
  padding-top: 46px;
  padding-bottom: 52px;

  @media (min-width: $tablet-width) {
    display: none;
    padding: 0;
  }
}
