// .slider-arrow {}

.slider-arrow__toggles {
  @media (max-width: $desktop-width-only) {
    display: none;
  }
  display: flex;
  justify-content: space-between;
}

.slider-arrow__toggle {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0;
  width: 22px;
  height: 41px;
  border: 0;
  font-style: inherit;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 27px;
    height: 27px;
    border-bottom: none;
    border-left: none;
    border-top: 2px solid rgb(0, 0, 0);
    border-right: 2px solid rgb(0, 0, 0);
  }

  &:active::before {
    border-top-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
  }

  &--prev::before {
    left: 7px;
    transform: translateY(-50%) rotate(225deg);
  }

  &--next::before {
    right: 7px;
    transform: translateY(-50%) rotate(45deg);
  }
}


// .slider-arrow__toggle--prev {}
// .slider-arrow__toggle--next {}
