// Viewports

$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 659px;

// Colors

$main-theme: rgb(40, 54, 69); //#283645
$accent: rgb(210, 40, 86); // #d22856
$fon: rgb(242, 242, 242); // #F2F2F2
